.modal-background {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.modal-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 1%;
}

.modal-container .title {
    text-align: center;
}

.modal-form {
    height: 100%;
    padding: 10px;
}

.modal-container .footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.modal-container .footer button {
    width: 100%;
    height: 32px;
    margin: 10px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}

.modal-form select {
    height: 32px;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
}

#cancelBtn {
    background-color: crimson;
}

.modal-close {
    position: absolute;
    cursor: pointer;
    height: 21px;
    width: 21px;
    right: 5px;
}

.modal-close:hover {
    opacity: 75%;
}

.modal-close:before,
.modal-close:after {
    position: absolute;
    content: '';
    left: 9px;
    height: 21px;
    width: 3px;
    background-color: red;
}

.modal-close:before {
    transform: rotate(45deg);
}

.modal-close:after {
    transform: rotate(-45deg);
}